{{ define "layout" }}
<h1 class="page-header">JustChess.org</h1>

<div class="about-page">
  <p><b>A multiplayer chess server started in 2024 by <a href="https://github.com/treepeck" class="a">Artem Bielikov</a></b></p>

  <h3>Features:</h3>
  <ul>
    <li>Match history</li>
    <li>Glicko-2 rating system</li>
    <li>Skill-based matchmaking</li>
    <li>Multiple concurrent games</li>
  </ul>

  <h3>Under development:</h3>
  <ul>
    <li>AI analysis of games on demand</li>
  </ul>

  <h3>License:</h3>
  <ul>
    <li><a href="https://github.com/treepeck/justchess" class="a">Source code</a> is available under the Mozilla Public License v2</li>
    <li><a href="https://stockfishchess.org/" class="a">Stockfish</a> chess engine used under <a href="https://github.com/official-stockfish/Stockfish?tab=readme-ov-file#terms-of-use" class="a">GNU General Public License version 3</a></li>
    <li><a href="https://github.com/canonical/Ubuntu-Sans-fonts" class="a">Ubuntu Fonts</a> used under <a href="https://canonical.com/legal/font-licence" class="a">UBUNTU FONT LICENCE Version 1.0</a></li>
  </ul>
</div>
{{ end }}