{{ define "layout" }}

<div class="game-layout flex-container">
  <div class="chat-layout game-container">
    <header class="game-container-header">Chat</header>
    <div id="chat" class="scrollable-container"></div>

    <div class="chat-input">
      <input
        id="chatInput"
        type="text"
        placeholder="Enter your message"
        autocomplete="off"
      />
      <div id="chatSend"></div>
    </div>
  </div>

  {{ block "board" . }}{{ end }}
</div>

<div id="ping">Ping: ? ms</div>

<div id="activeGameGuard"></div>

{{ end }}