<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title  }} &ndash; JustChess.org</title>
  <link rel="stylesheet" href="/bundles/bundle.css">
  <link rel="icon" href="/images/favicon.png" type="image/png">
</head>
<body>
  <header class="site-header">
    <div class="site-header-layout flex">
        <a class="site-header-logo a" href="/">JustChess</a>
        <a class="site-header-nav a" href="/leaderboard">Leaderboard</a>
        <a class="site-header-nav a" href="/about">About</a>

        <div class="site-header-profile flex">
          {{ if .Player.IsGuest }}
            <a href="/signup" class="a"><b><u>Sign up</u></b></a>
            <a href="/signin" class="a">Sign in</a>
          {{ else }}
            <a href="/player/{{ .Player.Id }}" class="a">{{ .Player.Name }}</a>
          {{ end }}
        </div>
      </a>
    </div>
  </header>

  <main id="main" class="site-layout flex" data-isguest="{{ .Player.IsGuest }}">
    {{ template "layout" . }}
  </main>

  <script src="/bundles/bundle.js"></script>
</body>
</html>