{{ define "board" }}

<div
  id="boardContainer"
  class="board-layout 
  {{ if .Data.IsVsEngine }}
    {{ if eqC .Data.Game.PlayerColor 1 }}flipped{{ end }}
  {{ else }}
    {{ if eq .Data.Game.Black.Name .Base.Player.Name }}flipped{{ end }}
  {{ end }}"
>
  <div class="board-miniprofile">
    {{ if .Data.IsVsEngine }}
      {{ if eqC .Data.Game.PlayerColor 1 }}
        <a href="/player/{{ .Data.Game.Player.Id }}">{{ .Data.Game.Player.Name }}</a>
        <div class="board-miniprofile-rating">({{ round .Data.Game.Player.Rating }} mmr)</div>
      {{ else }}
        <a>Engine</a>
      {{ end }}
    {{ else }}
    <a href="/player/{{ .Data.Game.Black.Id }}">{{ .Data.Game.Black.Name }}</a>
    <div class="board-miniprofile-rating">({{ round .Data.Game.Black.Rating }} mmr)</div>
    <div id="blackClock" class="board-miniprofile-clock">{{ .Data.Game.Control }}</div>
    {{ end }}
  </div>

  <div id="board"></div>

  <div class="board-miniprofile">
    {{ if .Data.IsVsEngine }}
      {{ if eqC .Data.Game.PlayerColor 1 }}
        <a>Engine</a>
      {{ else }}
        <a href="/player/{{ .Data.Game.Player.Id }}">{{ .Data.Game.Player.Name }}</a>
        <div class="board-miniprofile-rating">({{ round .Data.Game.Player.Rating }} mmr)</div>
      {{ end }}
    {{ else }}
    <a href="/player/{{ .Data.Game.White.Id }}">{{ .Data.Game.White.Name }}</a>
    <div class="board-miniprofile-rating">({{ round .Data.Game.White.Rating }} mmr)</div>
    <div id="whiteClock" class="board-miniprofile-clock">{{ .Data.Game.Control }}</div>
    {{ end }}
  </div>
</div>

<div id="movesContainer" class="moves-layout game-container">
  <header class="game-container-header">Moves</header>
  <div id="moves" class="scrollable-container"></div>

  <div class="board-controls">
    <button id="nullMoveBtn"></button>
    <button id="prevMoveBtn"></button>
    <button id="nextMoveBtn"></button>
    <button id="lastMoveBtn"></button>
    <button id="flipBoardBtn"></button>
  </div>
</div>

{{ end }}