{{ define "board" }}

<div class="board-layout">
  <div class="board-miniprofile flex-container">
    <a href="/player/{{ .Data.Black.Name }}">{{ .Data.Black.Name }}</a>
    <div class="board-miniprofile-rating">({{ .Data.Black.Rating }} mmr)</div>
    <div id="blackClock" class="board-miniprofile-clock">
      {{ formatTime .Data.Control }}
    </div>
  </div>

  <div id="board"></div>

  <div class="board-miniprofile flex-container">
    <a href="/player/{{ .Data.White.Name }}">{{ .Data.White.Name }}</a>
    <div class="board-miniprofile-rating">({{ .Data.White.Rating }} mmr)</div>
    <div id="whiteClock" class="board-miniprofile-clock">
      {{ formatTime .Data.Control }}
    </div>
  </div>
</div>

<div id="movesContainer" class="moves-layout game-container">
  <header class="game-container-header">Moves</header>
  <div id="moves" class="scrollable-container">
    <script id="movesJson" type="application/json">{{ .Data.Moves }}</script>
  </div>

  <div class="moves-controls">
    <button> <- </button>
    <button> < </button>
    <button> > </button>
    <button> -> </button>
  </div>
</div>

{{ end }}