{{ define "content" }}
<main class="row-container" data-page="game">
  <div class="board-container">
    <p>Black: {{ .Data.Black.Name }} Rating: {{ .Data.Black.Rating }}</p>
    <canvas id="boardCanvas"></canvas>
    <p>White: {{ .Data.White.Name }} Rating: {{ .Data.White.Rating }}</p>
  </div>
</main>
{{ end }}