{{ define "content" }}
<main id="container" class="row-container" data-page="game">
  <div class="chat">
    <h3>Chat</h3>
    <div id="messageContainer"></div>
    <div class="input-container">
      <input
        id="chatInput"
        type="text"
        placeholder="Enter your message"
        autocomplete="off"
      />
      <div id="chatSend"></div>
    </div>
  </div>

  <div class="board-container">
    <div class="miniprofile">
      <a href="/player/{{ .Data.Black.Name }}">{{ .Data.Black.Name }}</a>
      <div class="rating">{{ .Data.Black.Rating }}</div>
      <div id="blackTimer">00:00</div>
      <div id="isBlackConnected"></div>
    </div>

    <canvas id="boardCanvas"></canvas>

    <div class="miniprofile">
      <a href="/player/{{ .Data.White.Name }}">{{ .Data.White.Name }}</a>
      <div class="rating">{{ .Data.White.Rating }}</div>
      <div id="whiteTimer">00:00</div>
      <div id="isWhiteConnected"></div>
    </div>
  </div>

  <div class="move-table">
    <h3>Moves</h3>
    <div id="tableBody"></div>
  </div>

  <div id="ping">Ping: ? ms</div>
</main>
{{ end }}