{{ define "layout" }}
<h1 class="page-header">Choose a <span id="helpText" class="help-text">time control</span></h1>

<div class="controls-grid">
  {{ range $i, $v := .Data }}
    <button id="cell{{ $i }}" class="grid-cell button">{{ $v }}</button>
  {{ end }}
</div>
<button id="playVsEngine" class="button">Play vs Engine</button>

<div id="helpDialog" class="dialog flex">
  <div class="dialog-layout flex">
    <div class="dialog-header">What is time control?</div>

    <p>The first number is the initial amount of minutes.</p>
    <p>The second number is the amount of seconds added after each move.</p>

    <button id="helpDialogClose" class="dialog-close button">OK</button>
  </div>
</div>

<div class="floating-chessboard"></div>
{{ end }}