{{ define "layout" }}

<h2 class="page-header">Leaderboard</h2>

<div class="leaderboard">
  <div class="leaderboard-header">
    <div>Player</div>
    <div>Rating</div>
    <div>Member since</div>
    <div>Rated games</div>
  </div>

  {{ range .Data }}
  <a class="leaderboard-row" href="/player/{{ .Name  }}">
    <div>{{ .Id }}</div>
    <div>{{ round .Rating }}</div>
    <div>{{ formatDate .CreatedAt }}</div>
    <div>{{ .RatedGames }}</div>
  </a>
  {{ end }}
</div>

{{ end }}