{{ define "layout" }}

<h2 class="page-header">Finding an opponent...</h2>

<div class="queue-info flex-container">
  <div id="clientsCounter">Players in queue: ?</div>

  <div class="queue-info-control">
    Control: {{ .Data.Control }}m + {{ .Data.Bonus }}s
  </div>

  <div>Rating: {{ round .Base.Player.Rating }}</div>

  <div id="countUpTimer">00:00</div>
</div>

<div id="emptyQueueDialog" class="dialog flex-container">
  <div class="dialog-layout flex-container">
    <div class="dialog-header">Empty queue</div>

    <p>There are not enough player to find a match.</p>
    <p>Try selecting other time controls to find a match faster.</p>

    <div class="dialog-buttons">
      <button id="playVsEngine">Play vs computer</button>
      <button id="emptyQueueDialogClose" class="dialog-close">Stay</button>
    </div>
  </div>
</div>

<div id="ping">Ping: ? ms</div>

<div id="queueGuard"></div>

{{ end }}