{{ define "content" }}
<main class="column-container" data-page="queue">
  <h2>Finding an opponent...</h2>

  <div class="queue-content">
    <div id="timeControl">Control: {{ .Data.Control }} min.</div>
    <div id="timeBonus">Bonus: {{ .Data.Bonus }} sec.</div>
    <div id="countUp">00:00</div>
    <div id="clientsCounter">Players in queue: ?</div>
  </div>

  <div id="ping">Ping: ? ms</div>
</main>
{{ end }}