{{ define "content" }}
<main id="container" class="column-container" data-page="queue">
  <h2>Finding an opponent...</h2>

  <div class="queue-content">
    <div>Control: {{ .Data.Control }} min.</div>
    <div>Bonus: {{ .Data.Bonus }} sec.</div>
    <div>Rating: {{ .Base.Player.Rating }}</div>
    <div id="countUp">00:00</div>
    <div id="clientsCounter">Players in queue: ?</div>
  </div>

  <div id="ping">Ping: ? ms</div>
</main>
{{ end }}