{{ define "layout" }}

<form id="resetPasswordForm" class="form flex-container">

<h2 class="page-header">Reset password</h2>

<div class="form-input">
  <p class="form-label">Email address</p>
  <input
    type="text"
    name="email"
    autocomplete="off"
    placeholder="magnus@carlsen.com"
  />
  <div class="form-error" id="formEmailError"></div>
</div>

<div class="form-input">
  <p class="form-label">New password</p>
  <div class="form-password">
    <input
      id="formPasswordInput"
      type="password"
      name="password"
      autocomplete="off"
      placeholder="*************"
    />
    <div id="formPasswordToggle"></div>
  </div>
  <div class="form-error" id="formPasswordError"></div>
</div>

<div id="formServerError" class="form-error"></div>
<button id="formSubmitButton">Submit</button>

</form>

<div id="resetPasswordGuard"></div>

{{ end }}