{{ define "layout" }}

<form id="authForm" class="flex-container">

<h2 class="page-header">Create a new account</h2>

<div class="auth-form-input">
  <p class="auth-form-label">Username</p>
  <input
    type="text"
    name="name"
    autocomplete="off"
    placeholder="MagnusCarlsen"
  />
  <div class="auth-form-error" id="authFormNameError"></div>
</div>

<div class="auth-form-input">
  <p class="help-dialog-activator auth-form-label" id="emailHelpDialogActivator">
    Email address
  </p>
  <input
    type="text"
    name="email"
    autocomplete="off"
    placeholder="magnus@carlsen.com"
  />
  <div class="auth-form-error" id="authFormEmailError"></div>
</div>

<div class="auth-form-input">
  <p class="auth-form-label">Password</p>
  <div class="auth-form-password">
    <input
      id="authFormPasswordInput"
      type="password"
      name="password"
      autocomplete="off"
      placeholder="*************"
    />
    <div id="authFormPasswordToggle"></div>
  </div>

  <div class="auth-form-error" id="authFormPasswordError"></div>
</div>

<div id="authFormServerError" class="auth-form-error"></div>
<button id="authFormSubmitButton">Sign up</button>

<footer class="auth-form-footer">
  Already have an account? <a href="/signin">Sign in</a>
</footer>
</form>

<div id="emailHelpDialog" class="dialog flex-container">
<div class="dialog-layout flex-container">
  <div class="dialog-header">Why do I need to enter my email address?</div>

  <p>To securely reset your password if you forget it.</p>
  <p>Your email will never be shared or used for any other purpose.</p>

  <button id="emailHelpDialogClose" class="dialog-close">OK</button>
</div>
</div>

<div id="confirmDialog" class="dialog flex-container">
  <div class="dialog-layout flex-container">
    <div class="dialog-header">Please note</div>

    <p>Accounts with offensive or inappropriate names will be <b>blocked</b>.</p>

    <div class="confirm-dialog-buttons">
      <button id="confirmDialogCancelButton">Cancel</button>
      <button id="confirmDialogConfirmButton">Confirm</button>
    </div>
  </div>
</div>

<div id="signupGuard"></div>

</div>

{{ end }}