{{ define "content" }}
<form id="authForm" data-page="signin">
  <div class="auth-form-header">Sign in to your account</div>

  <div class="auth-form-input-container">
    <div>Email address</div>
    <input
      type="text"
      name="email"
      autocomplete="off"
      placeholder="magnus@carlsen.com"
    />
  </div>

  <div class="auth-form-input-container">
    <div>Password</div>

    <div class="auth-form-input-password">
      <input
        id="authFormPasswordInput"
        type="password"
        name="password"
        autocomplete="off"
        placeholder="*************"
      />
      <div id="authFormPasswordToggle"></div>
    </div>
  </div>

  <div id="authFormServerError" class="auth-form-error"></div>
  <button id="authFormSubmitButton">Sign in</button>

  <div class="auth-form-footer">
    Doesn't have an account? <a href="/signup">Sign up</a>
  </div>
</form>
{{ end }}