{{ define "layout" }}

<form id="authForm" class="flex-container">

<h2 class="page-header">Sign in to your account</h2>

<div class="auth-form-input">
  <p class="auth-form-label">Email address</p>
  <input
    type="text"
    name="email"
    autocomplete="off"
    placeholder="magnus@carlsen.com"
  />
</div>

<div class="auth-form-input">
  <p class="auth-form-label">Password</p>
  <div class="auth-form-password">
    <input
      id="authFormPasswordInput"
      type="password"
      name="password"
      autocomplete="off"
      placeholder="*************"
    />
    <div id="authFormPasswordToggle"></div>
  </div>
</div>

<div id="authFormServerError" class="auth-form-error"></div>
<button id="authFormSubmitButton">Sign in</button>

<footer class="auth-form-footer">
  Doesn't have an account? <a href="/signup">Sign up</a>
</footer>

<div id="signinGuard"></div>

</form>

{{ end }}