.about-page {
  width: 100%;
  max-width: 650px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-page p {
  margin: 0 auto 0 auto;
}

.about-page h3 {
  margin: 20px 0 0 0;
}

.about-page .a {
  text-decoration: underline;
}
