.controls-grid {
  width: 95%;
  max-width: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.controls-grid button {
  aspect-ratio: 1/1;
  font-size: x-large;
  border-radius: 15%;
}

#playVsEngine {
  width: 95%;
  max-width: 450px;
  height: 50px;
  font-size: large;
}
