#authForm {
  display: flex;
  margin: auto;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
}

#authForm h1 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

#authForm section {
  display: grid;
  font-size: x-large;
  grid-template-rows: 1fr 1fr;
}

#authForm section input {
  width: 100%;
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
  line-height: 1.5;
  border: none;
  border-radius: 10px;
  background-color: var(--input-background);
}

#authForm section input:focus {
  outline: var(--input-background);
}

#authForm #submitBtn {
  width: 60%;
  margin: auto;
  padding: 10px;
  font-size: x-large;
  border: 2px solid var(--container-background);
  border-radius: 15px;
  color: var(--container-foreground);
  background: var(--container-background);
}

#authForm p {
  font-size: large;
  color: red;
}

#authForm .form-footer {
  margin: auto;
  padding-top: 10px;
  font-size: large;
  color: var(--foreground);
}

.form-footer a {
  color: var(--url-hover);
}

.password-container {
  display: flex;
  border-radius: 10px;
  background: var(--input-background);
}

#authForm .password-container input {
  background-color: transparent;
}

.password-container div {
  height: 80%;
  aspect-ratio: 1/1;
  margin: auto 5px auto 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/images/show.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 400px) {
  #authForm h1 {
    font-size: xx-large;
  }
}

@media screen and (min-width: 600px) {
  #authForm {
    min-width: 600px;
  }
}
