#authForm {
  width: 95%;
  max-width: 400px;
  flex-direction: column;
  gap: 10px;
}

.auth-form-input {
  width: 100%;
  display: grid;
  font-size: large;
  grid-template-rows: 1fr 1fr;
}

.auth-form-label {
  padding-top: 5px;
}

.auth-form-password {
  display: flex;
  border-radius: 10px;
  background: var(--input-background);
}

#authFormPasswordInput {
  background-color: transparent;
}

#authFormPasswordToggle {
  height: 80%;
  aspect-ratio: 1/1;
  margin: auto 5px auto 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/images/show.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-form-error {
  font-size: large;
  color: red;
}

#authFormSubmitButton {
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: x-large;
  border-radius: 15px;
}

.auth-form-footer {
  margin: auto;
  padding-top: 10px;
  font-size: large;
  color: var(--foreground);
}

.auth-form-footer a {
  color: var(--text-hover);
}

.confirm-dialog-buttons {
  display: flex;
  width: 100%;
}

.confirm-dialog-buttons button {
  line-height: 2;
  flex: 1;
  margin: 10px;
  border-radius: 15px;
}

@media screen and (min-width: 600px) {
  .auth-form-header {
    font-size: xx-large;
  }

  .auth-form-input {
    font-size: larger;
  }
}
