.board-layout {
  flex-direction: column;
  order: 1;
  width: 95%;
  max-width: 500px;
  background-color: var(--container-background);
  border-radius: 15px;
}

.board-miniprofile {
  width: 100%;
  gap: 10px;
  color: var(--container-foreground);
}

.board-miniprofile a {
  margin: 10px;
  overflow: hidden;
  font-weight: bold;
  width: 25%;
}

.board-miniprofile-rating {
  font-size: medium;
}

.board-miniprofile-timer {
  margin: auto 10px 10px auto;
  font-family: "ChessClock";
  user-select: none;
  font-size: 35px;
}

#board {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid var(--container-background);
  background-image: url("/images/board.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

#promotionDialog {
  z-index: 10000;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.promotion-choice {
  border: 2px solid var(--container-background);
  transition: background-color 0.25s ease-in-out;
}

.promotion-choice:hover {
  background-color: var(--container-background);
}

.piece {
  background-image: url("/images/sheet.svg");
  background-repeat: no-repeat;
  background-size: 600% 200%;
  background-position: calc(var(--col) * 20%) calc(var(--row) * 100%);
  user-select: none;
  z-index: 1;
  width: 12.5%;
  height: 12.5%;
  position: absolute;
  transform: translate(var(--x), var(--y));
}

/* White pawn. */
.piece.P {
  --col: 0;
  --row: 0;
}
/* White knight. */
.piece.N {
  --col: 1;
  --row: 0;
}
/* White bishop. */
.piece.B {
  --col: 2;
  --row: 0;
}
/* White rook. */
.piece.R {
  --col: 3;
  --row: 0;
}
/* White queen. */
.piece.Q {
  --col: 4;
  --row: 0;
}
/* White king. */
.piece.K {
  --col: 5;
  --row: 0;
}
/* Black pawn. */
.piece.p {
  --col: 0;
  --row: 1;
}
/* Black knight. */
.piece.n {
  --col: 1;
  --row: 1;
}
/* Black bishop. */
.piece.b {
  --col: 2;
  --row: 1;
}
/* Black rook. */
.piece.r {
  --col: 3;
  --row: 1;
}
/* Black queen. */
.piece.q {
  --col: 4;
  --row: 1;
}
/* Black king. */
.piece.k {
  --col: 5;
  --row: 1;
}

#selectedSquare {
  border: 5px solid green;
  border-radius: 50%;
  width: 12.5%;
  height: 12.5%;
  position: absolute;
  transform: translate(var(--x), var(--y));
}

#movesContainer {
  order: 2;
}

.moves-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.moves-row {
  width: 100%;
  display: flex;
  line-height: 2;
  gap: 10px;
}

.moves-ply {
  width: 15%;
  overflow: hidden;
}

.moves-san {
  width: 45%;
  font-weight: bold;
  text-align: start;
  cursor: pointer;
}

.current {
  color: white;
}

.moves-san:hover {
  background-color: var(--text-hover);
}

/* Reorder elements on bigger screens. */
@media screen and (min-width: 1200px) {
  .board-layout {
    order: 2;
  }

  .moves {
    order: 3;
  }

  .board-miniprofile {
    font-size: x-large;
  }
}
