@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/UbuntuSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/UbuntuSans-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "ChessClock";
  src: url("/fonts/JustChessClock-Regular.woff2") format("woff2");
}

:root {
  --background: #e2d3c4;
  --foreground: #34211d;
  --url-hover: #173091;
  --input-background: #b5936e69;
  --input-placeholder: rgba(73, 72, 72, 0.564);
  --container-background: rgb(37, 22, 22, 85%);
  --container-foreground: #b5936e;
  --max-width: 1600px;

  /* font variabels */
  --title-small: 2rem;
  --title-medium: 2.5rem;

  --text-small: 0.85rem;
  --text-medium: 1rem;
  --text-large: 1.25rem;
}

/* Remove default margin and padding. */
* {
  margin: 0;
  padding: 0;
}

/* Count element size taking margins and paddings into account. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu";
  font-size: x-large;
  line-height: 1.5;
  color: var(--foreground);
  background: var(--background);
}

a,
input,
button {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer !important;
  transition: background-color 0.75s ease-in-out, border-color 0.75s ease-in-out,
    color 0.75s ease-in-out !important;
}

button:focus {
  outline: none !important;
  color: var(--container-background) !important;
  background-color: var(--container-foreground) !important;
  border: 2px solid var(--container-background) !important;
}

button:hover {
  color: var(--container-background) !important;
  background-color: var(--container-foreground) !important;
  border: 2px solid var(--container-background) !important;
}

header {
  width: 100%;
  padding: 5px;
  user-select: none;
  font-size: larger;
  color: var(--container-foreground);
  background-color: var(--container-background);
}

header nav {
  max-width: var(--max-width);
  display: flex;
  margin: 0 auto 0 auto;
}

header nav .logo {
  flex: 1;
  font-weight: bold;
  font-size: xx-large;
}

main {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  display: flex;
  flex: 1;
}

footer {
  margin-top: 1rem;
  width: 100%;
  color: var(--container-foreground);
  background-color: var(--container-background);
  font-size: var(--text-small);
}

footer div {
  max-width: var(--max-width);
  margin: 0 auto 0 auto;
  text-align: center;
}

#ping {
  margin: auto auto 0 0;
  user-select: none;
  font-weight: bold;
}

/* Confirmation window. */

#confirmWindow {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;
  z-index: -1;
  opacity: 0;
  backdrop-filter: blur(6px);
  transition: z-index 1s ease-in-out, opacity 1s ease-in-out;
}

#confirmWindow.show {
  z-index: 1;
  opacity: 1;
}

#confirmWindow .confirm-content {
  width: 95%;
  max-width: 750px;
  margin: auto;
  padding: 15px;
  border: 2px solid var(--container-foreground);
  border-radius: 15px;
  color: var(--container-foreground);
  background-color: var(--container-background);
  text-align: center;
}

#confirmWindow .buttons {
  display: flex;
}

#confirmWindow .buttons button {
  line-height: 2;
  flex: 1;
  margin: 10px;
  border: 2px solid var(--container-foreground);
  border-radius: 15px;
  color: var(--container-foreground);
  background-color: var(--container-background);
}

/* Column container. */
.column-container {
  flex-direction: column;
  gap: 20px;
}

@media (width >= 30rem) {
  footer {
    font-size: var(--text-medium);
  }
}

@media screen and (min-width: 600px) {
  /* Make background animation slower on larger screens. */
  .column-container::before {
    transform: rotate(15deg) scale(1.5);
    animation: slide-background 340s ease-in-out infinite;
  }
}

@media screen and (min-width: 1280px) {
  /* Make background animation slower on larger screens. */
  .column-container::before {
    transform: rotate(15deg) scale(2);
  }
}
