.board-container {
  margin: auto;
  width: 95%;
  max-width: 650px;
}

#boardCanvas {
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: 2px solid var(--container-background);
  border-radius: 10px;
}
