.chat-container {
  width: 95%;
  max-width: 350px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  order: 3;
  margin: auto;
  color: var(--container-foreground);
  background-color: var(--container-background);
  border-radius: 15px;
}

.chat-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#chatMessages {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: 2px solid var(--container-foreground);
  border-radius: 15px;
}

.chat-input-container {
  display: flex;
  border-radius: 10px;
  background: var(--input-background);
}

#chatInput {
  background-color: transparent;
}

#chatSendButton {
  height: 48px;
  aspect-ratio: 1/1;
  margin: auto 5px auto 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/images/send.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.board-container {
  display: flex;
  flex-direction: column;
  order: 1;
  margin: auto;
  width: 95%;
  max-width: 600px;
  border-radius: 15px;
  background-color: var(--container-background);
}

.board-miniprofile {
  display: flex;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  color: var(--container-foreground);
}

.board-miniprofile a {
  overflow: hidden;
  font-weight: bold;
  width: 25%;
}

.board-miniprofile-timer {
  padding-bottom: 10px;
  margin: auto 0 auto auto;
  font-family: "ChessClock";
  user-select: none;
  font-size: 35px;
}

#board {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid var(--container-background);
  background-image: url("/images/board.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

#board div {
  width: 12.5%;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(var(--x), var(--y));
}

.piece {
  background-image: url("/images/sheet.svg");
  background-repeat: no-repeat;
  background-size: 600% 200%;
  background-position: calc(var(--col) * 20%) calc(var(--row) * 100%);
  user-select: none;
  z-index: 1;
}

.piece.WP {
  --col: 0;
  --row: 0;
}
.piece.WN {
  --col: 1;
  --row: 0;
}
.piece.WB {
  --col: 2;
  --row: 0;
}
.piece.WR {
  --col: 3;
  --row: 0;
}
.piece.WQ {
  --col: 4;
  --row: 0;
}
.piece.WK {
  --col: 5;
  --row: 0;
}
.piece.BP {
  --col: 0;
  --row: 1;
}
.piece.BN {
  --col: 1;
  --row: 1;
}
.piece.BB {
  --col: 2;
  --row: 1;
}
.piece.BR {
  --col: 3;
  --row: 1;
}
.piece.BQ {
  --col: 4;
  --row: 1;
}
.piece.BK {
  --col: 5;
  --row: 1;
}

#selectedSquare {
  border: 5px solid green;
  border-radius: 50%;
  transform: translate(var(--x), var(--y));
}

.move-table-container {
  width: 95%;
  max-width: 350px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  order: 3;
  margin: auto;
  color: var(--container-foreground);
  background-color: var(--container-background);
  border-radius: 15px;
}

.move-table-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#moveTable {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: 2px solid var(--container-foreground);
  border-radius: 15px;
}

/* Reorder elements on larger screens. */
@media screen and (min-width: 1200px) {
  #mainContainer[data-page="game"] {
    flex-direction: row;
  }

  .chat-container {
    order: 1;
  }

  #chatMessages {
    height: 500px;
  }

  .board-container {
    order: 2;
  }

  .move-table-container {
    order: 3;
  }
}
