.board-container {
  margin: auto;
  width: 95%;
  max-width: 650px;
}

#boardCanvas {
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: 2px solid var(--container-background);
  border-radius: 10px;
}

.move-table {
  margin: auto;
  padding: 15px;
  color: var(--container-foreground);
  background-color: var(--container-background);
  border-radius: 15px;
}

.miniprofile {
  display: flex;
  gap: 10px;
  color: var(--container-foreground);
  background-color: var(--container-background);
  border-radius: 15px;
}
