.active-game-layout {
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 500px;
  gap: 15px;
  padding: 15px;
  color: var(--container-foreground);
  background-color: var(--container-background);
  border-radius: 15px;
}

.game-container-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.chat {
  order: 3;
}

.scrollable-container {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: 2px solid var(--container-foreground);
  border-radius: 15px;
  padding: 10px;
  font-size: large;
}

.chat-input {
  display: flex;
  border-radius: 10px;
  background: var(--input-background);
}

#chatInput {
  font-size: large;
  background-color: transparent;
}

#chatInput::placeholder {
  color: var(--container-foreground);
}

#chatSend {
  width: 40px;
  height: 40px;
  margin: auto 5px auto 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url("/images/send.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.board-layout {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 95%;
  max-width: 500px;
  background-color: var(--container-background);
  border-radius: 15px;
}

.board-miniprofile {
  display: flex;
  font-size: large;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  color: var(--container-foreground);
}

.board-miniprofile a {
  margin: 10px;
  overflow: hidden;
  font-weight: bold;
  width: 25%;
}

.board-miniprofile-rating {
  font-size: medium;
}

.board-miniprofile-timer {
  margin: auto 10px 10px auto;
  font-family: "ChessClock";
  user-select: none;
  font-size: 35px;
}

#board {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid var(--container-background);
  background-image: url("/images/board.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

#promotionDialog {
  z-index: 10000;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.promotion-choice {
  border: 2px solid var(--container-background);
  transition: background-color 0.25s ease-in-out;
}

.promotion-choice:hover {
  background-color: var(--container-background);
}

.piece {
  background-image: url("/images/sheet.svg");
  background-repeat: no-repeat;
  background-size: 600% 200%;
  background-position: calc(var(--col) * 20%) calc(var(--row) * 100%);
  user-select: none;
  z-index: 1;
  width: 12.5%;
  height: 12.5%;
  position: absolute;
  transform: translate(var(--x), var(--y));
}

.piece.WP {
  --col: 0;
  --row: 0;
}
.piece.WN {
  --col: 1;
  --row: 0;
}
.piece.WB {
  --col: 2;
  --row: 0;
}
.piece.WR {
  --col: 3;
  --row: 0;
}
.piece.WQ {
  --col: 4;
  --row: 0;
}
.piece.WK {
  --col: 5;
  --row: 0;
}
.piece.BP {
  --col: 0;
  --row: 1;
}
.piece.BN {
  --col: 1;
  --row: 1;
}
.piece.BB {
  --col: 2;
  --row: 1;
}
.piece.BR {
  --col: 3;
  --row: 1;
}
.piece.BQ {
  --col: 4;
  --row: 1;
}
.piece.BK {
  --col: 5;
  --row: 1;
}

#selectedSquare {
  border: 5px solid green;
  border-radius: 50%;
  width: 12.5%;
  height: 12.5%;
  position: absolute;
  transform: translate(var(--x), var(--y));
}

.move-table {
  order: 2;
}

.move-table-row {
  width: 100%;
  display: flex;
  line-height: 2;
  gap: 10px;
}

.move-table-ply {
  width: 10%;
  overflow: hidden;
}

.move-table-san {
  width: 45%;
  font-weight: bold;
  text-align: start;
}

/* Reorder elements on larger screens. */
@media screen and (min-width: 1200px) {
  .active-game-layout {
    flex-direction: row;
  }

  .board-miniprofile {
    font-size: x-large;
  }

  .game-container {
    width: 25%;
  }

  .chat {
    order: 1;
  }

  .scrollable-container {
    height: 350px;
  }

  .board {
    order: 2;
  }

  .move-table {
    order: 3;
  }

  .board-miniprofile-rating {
    font-size: x-large;
  }
}
