.queue-info {
  flex-direction: column;
  padding: 40px;
  border-radius: 15px;
  color: var(--container-foreground);
  background-color: var(--container-background);
  font-size: x-large;
  gap: 20px;
}

.queue-info-control {
  font-size: x-large;
}

#clientsCounter {
  margin: 0 0 20px 0;
}

#countUpTimer {
  margin: 10px 0 0 0;
  font-size: 70px;
  user-select: none;
  font-family: "ChessClock";
}
