.about-text {
  margin: auto;
}
.about-header {
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
  font-size: larger;
  font-weight: bold;
}
.content-list {
  font-size: large;
  line-height: 1.5;
}
