/* Styles for /signup and /signin pages. */

#form {
  --input-background: #b5936e69;
  --input-placeholder: rgba(73, 72, 72, 0.564);

  gap: 20px;
  width: 100%;
  padding: 10px;
  max-width: 350px;
  flex-direction: column;
}
.form-field {
  gap: 5px;
  width: 100%;
  flex-direction: column;
}
.form-field-label {
  font-size: larger;
  font-weight: bold;
  margin: 0 auto 0 5px;
}
.form-field input {
  width: 100%;
  font-size: large;
  padding: 5px;
  border: none;
  border-radius: 15px;
  background: var(--input-background);
}
.form-field input::placeholder {
  color: var(--input-placeholder);
}
.form-field input:hover,
.form-field input:focus {
  outline: 2px solid;
}
.form-error {
  color: #d40000;
}
#form button {
  min-width: 170px;
}
