:root {
  --background: #e2d3c4;
  --foreground: #34211d;
  --text-hover: #1c6741;
  --input-background: #b5936e69;
  --input-placeholder: rgba(73, 72, 72, 0.564);
  --container-background: rgb(37, 22, 22, 85%);
  --container-foreground: #b5936e;
  --max-width: 1600px;
  --max-container-size: 850px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  /* Take margin and padding into account while calculating an element's size. */
  box-sizing: border-box;
  /* Style all scrollbars on the page. */
  scrollbar-color: var(--container-foreground) var(--container-background);
}

.flex {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  font-size: larger;
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu";
  color: var(--foreground);
  background: var(--background);
}

/* Site header. */
.site-header-wrap {
  padding: 10px;
  background: var(--container-background);
}
.site-header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}
.site-header-nav {
  color: var(--container-foreground);
  text-align: center;
}
.site-header-profile {
  margin-left: auto;
  display: flex;
  overflow-x: hidden;
  gap: 10px;
}

/* Main wrap. */
.site-content {
  padding: 15px;
  display: flex;
  margin: 0 auto auto auto;
  width: 100%;
  gap: 15px;
  max-width: var(--max-width);
  flex-direction: column;
}

/* Site footer. */
.site-footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.site-footer-nav {
  justify-content: center;
  height: 45px;
  width: 55px;
}

/* Links. */
a {
  color: var(--text-hover);
  text-decoration: none;
}
a:hover {
  color: var(--text-hover);
}

/* Page header. */
h1 {
	padding-top: 30px;
}

/* Buttons. */
button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: larger;
  line-height: 1.5;
  font-weight: bold;
  width: 100%;
  max-width: 400px;
  color: var(--container-foreground);
  background-color: var(--container-background);
  transition:
    background-color 0.75s ease-in-out,
    color 0.75s ease-in-out;
}
button:hover,
button:focus {
  outline: none;
  color: var(--container-background);
  background-color: var(--container-foreground);
}

/* Text fields. */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  font-size: large;
  padding: 5px;
  border: none;
  border-radius: 15px;
  background: var(--input-background);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: var(--input-placeholder);
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
  outline: 2px solid var(--text-hover);
}

/* Floating chessboard background. */
.site-animated-background {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  position: fixed;
  background: url("/assets/images/board.svg");
  transform: rotate(15deg) scale(2);
  filter: blur(2px) grayscale(10%) brightness(85%);
  z-index: -1;
  animation: float 200s infinite;
}

/* Modal dialog. */
dialog {
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}
dialog::backdrop {
  backdrop-filter: blur(5px);
}
dialog h2 {
  text-align: center;
  margin-bottom: 15px;
}
dialog .dialog-buttons {
  display: flex;
  margin: 15px auto 5px auto;
  width: 100%;
}
dialog .dialog-buttons button {
  margin: auto;
}

/* Arbitrary container. */
.wrap {
  border: none;
  border-radius: 15px;
  color: var(--container-foreground);
  background-color: var(--container-background);
}

/* Tooltip. */
.helpButton {
  width: auto;
  background: none;
  border: none;
  cursor: help;
  color: inherit;
  font-size: inherit;
}
.helpButton:hover {
  background: none;
  color: inherit;
}
.helpButton:focus {
  background: none;
  color: inherit;
}

/* Radio buttons. */
fieldset {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 15px;
}
fieldset legend {
  font-size: xx-large;
}
fieldset div {
  display: flex;
  justify-items: center;
  font-size: x-large;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  cursor: pointer;
}

/* Popup notification. */
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  display: flex;
  font-size: larger;
  margin: 10px;
  top: auto;
  right: auto;
}
.popup-close {
  margin: 0;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border: 2px solid var(--container-foreground);
  border-radius: 50%;
}

/* Form. */
form {
  width: 100%;
  max-width: calc(var(--max-container-size) - 100px);
  flex-direction: column;
  gap: 20px;
}
.form-field {
  width: 100%;
}
.form-field-password {
  display: flex;
  border-radius: 15px;
  padding-right: 10px;
  width: 100%;
  background: var(--input-background);
}
.form-error {
  color: red;
}
form button {
  width: 200px;
  line-height: 2.5;
}
#passwordInput {
  margin-right: 5px;
  background-color: transparent;
  width: calc(100% - 30px);
}

/** Scroll container. */
.scroll-wrap {
  width: 100%;
  max-width: var(--max-container-size);
  overflow-x: auto;
}

/** Table. */
table {
  width: 95%;
  max-width: var(--max-container-size);
  table-layout: fixed;
  border-collapse: collapse;
}
tr:first-child td:first-child {
  border-radius: 15px 0 0 0;
}
tr:first-child td:last-child {
  border-radius: 0 15px 0 0;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 15px;
}
tr:last-child td:last-child {
  border-radius: 0 0 15px 0;
}
tr:nth-child(even) td {
  color: var(--container-background);
  background-color: var(--container-foreground);
}
tr:nth-child(odd) td {
  color: var(--container-foreground);
  background-color: var(--container-background);
}
tr th {
  height: 50px;
}
tr td {
  height: 70px;
  text-align: center;
}

/* Home page. */
.time-control-grid {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.time-control-grid button:nth-child(even) {
	color: black;
	background-color: #e2d3c4;
}
.time-control-grid button:nth-child(odd) {
	color: black;
	background-color: #8e684b;
}
.time-control-grid button {
  font-size: x-large;
}
.time-control-grid button:nth-child(even):hover {
  background-color: #fefefe;
}
.time-control-grid button:nth-child(odd):hover {
  background-color: #b5936e;
}
.playVsEngine, .playVsHuman {
  line-height: 3;
}

/** Slider. */
input[type=range] {
  -webkit-appearance: none;
  margin: 50px auto 50px auto;
  background-color: #5a5a5a;
  width: 100%;
}
input[type=range]::-moz-range-thumb {
  width: 64px;
  height: 64px;
  cursor: pointer;
  border: none;
  background-size: contain;
  background-color: transparent;
  background-image: var(--bg);
}
input[type=range]::-moz-range-progress {
  width: 100%;
  height: 100%;
  background: #b5936e;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 64px;
  height: 64px;
  cursor: pointer;
  border: none;
  background-size: contain;
  background-color: transparent;
  background-image: var(--bg);
}
#sliderDemo {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

/** Chessboard. */
#board {
  width: 100%;
  max-width: 600px;
  position: relative;
  aspect-ratio: 1/1;
  background-size: contain;
  background-image: url("/assets/images/board.svg");
  border: 2px solid var(--container-background);
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
}
.board-square {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  transform: translate(var(--x), var(--y));
}
.board-selected {
  background-color: magenta;
  z-index: 1;
}
.board-coord {
  z-index: 2;
  user-select: none;
  position: absolute;
  font-weight: bolder;
  font-size: calc(10px + 100vw / 200);
  transform: translate(var(--x), var(--y));
}
.board-file {
  margin: 9% 1% 1% 1%;
}
.board-rank {
  margin: 1% 1% 1% 1%;
}
.board-piece {
  z-index: 3;
  background-size: 600% 200%;
  background-repeat: no-repeat;
  background-position: calc(20% * var(--col)) calc(100% * var(--row));
  background-image: url("/assets/images/sheet.svg");
}
/* White pawn. */
.board-piece.P {
  --col: 0;
  --row: 0;
}
/* White knight. */
.board-piece.N {
  --col: 1;
  --row: 0;
}
/* White bishop. */
.board-piece.B {
  --col: 2;
  --row: 0;
}
/* White rook. */
.board-piece.R {
  --col: 3;
  --row: 0;
}
/* White queen. */
.board-piece.Q {
  --col: 4;
  --row: 0;
}
/* White king. */
.board-piece.K {
  --col: 5;
  --row: 0;
}
/* Black pawn. */
.board-piece.p {
  --col: 0;
  --row: 1;
}
/* Black knight. */
.board-piece.n {
  --col: 1;
  --row: 1;
}
/* Black bishop. */
.board-piece.b {
  --col: 2;
  --row: 1;
}
/* Black rook. */
.board-piece.r {
  --col: 3;
  --row: 1;
}
/* Black queen. */
.board-piece.q {
  --col: 4;
  --row: 1;
}
/* Black king. */
.board-piece.k {
  --col: 5;
  --row: 1;
}

/** About page. */
.centered {
  text-align: center;
}
.about-wrap {
  font-size: larger;
  padding: 15px;
}
.about-wrap h2 {
  margin: 20px 0 5px 0;
}

/** Profile page. */
.player-table {
  width: 100%;
  border-radius: 15px;
  max-width: var(--max-container-size);
}
.player-table-tab-pane {
  display: flex;
  width: 100%;
}
.player-table-tab-pane div {
  margin: auto;
}

/** Queue page. */
.queue {
  display: flex;
  font-size: larger;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-container-size);
}
#countUpTimer {
  margin: 0 0 auto 0;
  font-size: 70px;
  user-select: none;
  font-family: "ChessClock";
}
#hintBox {
  align-content: center;
  text-align: center;
  height: 80px;
  line-height: 2;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}
#hintBox.hide {
  opacity: 0;
}

#ping {
  font-weight: bold;
  font-size: larger;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

/* Animations. */
@keyframes float {
  0% {
    background-position-x: 0;
    background-position-y: 0;
  }

  100% {
    background-position-x: 100vw;
    background-position-y: 100vh;
  }
}
