<div style="font-family: Arial, sans-serif; line-height: 1.6; max-width: 600px; margin: 0 auto; padding: 20px;">
	<div style="background: rgb(37, 22, 22, 85%); padding: 20px; text-align: center;">
		<h1 style="color: #b5936e; margin: 0;">Password reset for {{.Name}}</h1>
	</div>
	<div style="background-color: #e2d3c4; color: #34211d; padding: 20px; border-radius: 0 0 10px 10px;">
		<p>This email was sent due to a password reset request.</p>
		<p>If it wasn't you, please ignore this message.</p>
		<p>To reset the password, follow the link below:</p>
		<a style="color: #1c6741;" href="{{.Url}}">{{.Url}}</a>
		<p>The link will be valid for 15 minutes.</p>

		<p style="line-height: 1em; text-align: end;">
			Best regards,
			<br>
			<a style="color: #1c6741;" href="https://justchess.org">justchess.org</a>
		</p>
	</div>
	<div style="text-align: center; margin-top: 20px; color: #888; font-size: 0.8em; font-weight: bold;">
		<p>This is an automated message, please do not reply.</p>
	</div>
</div>