{{define "title"}}Game{{end}}
{{define "stylesheet"}}/public/css/game.css{{end}}
{{define "script"}}/public/js/board.js{{end}}
{{define "content"}}

<canvas id="board" width="560" height="560"></canvas>

{{end}}