{{define "title"}}Home{{end}}
{{define "stylesheet"}}/public/css/home.css{{end}}
{{define "script"}}<script ></script>{{end}}
{{define "content"}}
<div class="home-container">
	<h1>
		Click on a time control to play chess
	</h1>

	<div class="grid">
		<button id="cell-1">1m+0s</button>
		<button id="cell-2">2m+1s</button>
		<button id="cell-3">3m+0s</button>
		<button id="cell-4">3m+2s</button>
		<button id="cell-5">5m+0s</button>
		<button id="cell-6">5m+2s</button>
		<button id="cell-7">10m+0s</button>
		<button id="cell-8">10m+10s</button>
		<button id="cell-9">15m+10s</button>
	</div>
</div>

<p id="ping">Ping: ?? ms</p>
{{end}}