{{define "title"}}Home{{end}}
{{define "stylesheet"}}/public/css/home.css{{end}}
{{define "script"}}/public/js/home.js{{end}}
{{define "content"}}
<h1>Choose a <span id="tooltip-toggle"> time control</span></h1>

{{block "tooltip" .}}{{end}}

<div class="grid">
	<button id="cell-1">1+0</button>
	<button id="cell-2">2+1</button>
	<button id="cell-3">3+0</button>
	<button id="cell-4">3+2</button>
	<button id="cell-5">5+0</button>
	<button id="cell-6">5+2</button>
	<button id="cell-7">10+0</button>
	<button id="cell-8">10+10</button>
	<button id="cell-9">15+10</button>
</div>

<p id="ping">Ping: ?? ms</p>
{{end}}