<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/public/img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="/public/css/main.css">
	<link rel="stylesheet" href="{{block "stylesheet" .}}{{end}}">
	<title>{{block "title" .}}{{end}} &ndash; JustChess.org</title>
	<script src="{{block "script" .}}{{end}}" type="module" defer></script>
</head>
<body>
	<header>
		<div class="header-content">
			<div class="logo"><a href="/">JustChess</a></div>

			<div class="profile">
				{{ if .Player.Name }}
					<p>{{ .Player.Name }}</p>
				{{ else }}
					<a href="/signin">Sign in</a>
				{{ end }}
			</div>
		</div>
	</header>

	<main>{{block "content" .}}{{end}}</main>

	<footer>
		<div class="footer-content">
			Lorem ipsum dim.
		</div>
	</footer>
</body>
</html>