{{define "title"}}Sign up{{end}}
{{define "stylesheet"}}/public/css/auth.css{{end}}
{{define "script"}}
<script src="/public/js/signup.js" type="module" defer></script>
{{end}}
{{define "content"}}
{{block "form" .}}{{end}}
{{end}}