<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <title>{{ .Title }} &ndash; JustChess.org</title>
  <script src="{{ .Script }}" type="module"></script>
</head>

<body>
  <header>
    <nav>
      <div class="logo"><a href="/">JustChess</a></div>

      <a href="/{{ .Name }}">{{ .Name }}</a>
    </nav>
  </header>

  {{ block "content" . }}{{ end }}

  <footer>
    <div>
      &copy; 2026 JustChess
    </div>
  </footer>
</body>

</html>