<!--{
	"title": "Confirm password reset",
	"script": "confirm.js"
}-->


{{ define "content" }}
<h1 class="content-header">Confirm password reset</h1>

<div class="confirm-label">To confirm the password reset, press the button below.</div>
<button id="confirm">Continue</button>

<div class="floating-chessboard"></div>
{{ end }}