<!--{
	"title": "Confirm Password Reset",
	"script": "confirm.js"
}-->

{{ define "content" }}
<h1><b>Confrim password reset</b></h1>
<button id="confirm">Continue</button>
<div class="site-animated-background"></div>
{{ end }}