<!--{
	"title": "Board",
	"style": "board.css",
	"script": "game.js"
}-->

{{ define "content" }}
<div id="board">
  <div class="board-box">
    <div id="front" class="board-box-face front"></div>
    <div class="board-box-face back"></div>
    <div class="board-box-face left"></div>
    <div class="board-box-face right"></div>
    <div class="board-box-face top"></div>
    <div class="board-box-face bottom"></div>
  </div>
</div>
{{ end }}