<!--{
	"title": "Board",
	"style": "board.css",
	"script": "game.js"
}-->

{{ define "content" }}
<div id="board">
	<div id="boardBox">
		<div id="front" class="board-box-face front">
			<svg id="arrowBox">
				<defs>
					<marker id="arrow-head" viewBox="0 0 10 10" refX="8" refY="5" markerWidth="6" markerHeight="6" orient="auto-start-reverse">
						<path d="M 0 0 L 10 5 L 0 10 z" fill="#000000" />
					</marker>
				</defs>
			</svg>
		</div>
		<div class="board-box-face back"></div>
		<div class="board-box-face left"></div>
		<div class="board-box-face right"></div>
		<div class="board-box-face top"></div>
		<div class="board-box-face bottom"></div>
	</div>
</div>
{{ end }}