<!--{
	"title": "Home",
	"style": "home.css",
	"layouts": ["_web/layouts/engine.tmpl"],
	"script": "home.js"
}-->

{{ define "content" }}
<h1 class="content-header">Welcome back, {{ .Player.Name }}!</h1>
<button commandfor="ratedConfig" command="show-modal">Play vs Human</button>
<button commandfor="engineConfig" command="show-modal">Play vs Engine</button>

<dialog id="ratedConfig" class="wrap">
	<h2 class="dialog-header">Choose a time control</h2>
	<div class="rated-grid">
		<button id="control0">1m</button>
		<button id="control1">2m+1s</button>
		<button id="control2">3m</button>
		<button id="control3">3m+2s</button>
		<button id="control4">5m</button>
		<button id="control5">5m+2s</button>
		<button id="control6">10m</button>
		<button id="control7">10m+10s</button>
		<button id="control8">15m+10s</button>
	</div>
	<div class="dialog-buttons">
		<button commandfor="ratedConfig" command="close">Close</button>
	</div>
</dialog>

{{ template "engine" . }}

<div class="floating-chessboard"></div>
{{ end }}