<!--{
	"title": "Home",
	"layouts": ["_web/layouts/engine.tmpl"],
	"script": "home.js"
}-->

{{ define "content" }}
<h1><b>Welcome, {{ .Player.Name }}!</b></h1>

<button class="playVsHuman" commandfor="ratedConfig" command="show-modal">
	Play vs Human
</button>

<button class="playVsEngine" commandfor="engineConfig" command="show-modal">
	Play vs Engine
</button>

<h1><b>Latest updates</b></h1>
<table class="wrap">
	<tr>
		<th>Patch</th>
		<th>Changes</th>
		<th>Elapsed time</th>
	</tr>
	{{ range $v := .Data.Commits }}
		<tr>
			<td>
				<a href="https://github.com/treepeck/justchess/commit/{{ $v.Hash }}">
				<b>{{ $v.Hash }}</b>
				</a>
			</td>
			<td><div style="max-height: 60px; overflow: auto">{{ $v.Msg }}</div></td>
			<td><time>{{ $v.Date }}</time></td>
		</tr>
	{{ end }}
</table>

{{ template "engine" . }}

<dialog id="ratedConfig" class="wrap">
	<h2><b>Choose a <button class="helpButton" commandfor="helpDialog" command="show-modal">time control</button></b></h2>
	<div class="time-control-grid">
		<button id="time-control-0">1+0</button>
		<button id="time-control-1">2+1</button>
		<button id="time-control-2">3+0</button>
		<button id="time-control-3">3+2</button>
		<button id="time-control-4">5+0</button>
		<button id="time-control-5">5+2</button>
		<button id="time-control-6">10+0</button>
		<button id="time-control-7">10+10</button>
		<button id="time-control-8">15+10</button>
	</div>
	<div class="dialog-buttons"><button commandfor="ratedConfig" command="close">Close</dialog></div>
</dialog>

<dialog id="helpDialog" class="wrap">
	<h2><b>What is time control?</b></h2>
	<p>During rated games players are limited in time.</p>
	<p>The first number is the initial amount of minutes.</p>
	<p>The second number is the amount of seconds added after each move.</p>
	<div class="dialog-buttons"><button commandfor="helpDialog" command="close">Close</dialog></div>
</dialog>

<div class="site-animated-background"></div>
{{ end }}