<!--{
	"title": "Home",
	"style": "home.css",
	"layouts": ["_web/layouts/engine.tmpl"],
	"script": "home.js"
}-->

{{ define "content" }}
<h1 class="content-header">Welcome back, {{ .Player.Name }}!</h1>
<button commandfor="ratedConfig" command="show-modal">Play vs Human</button>
<button commandfor="engineConfig" command="show-modal">Play vs Engine</button>

<dialog id="ratedConfig" class="wrap">
	<h2 class="dialog-header"></h2>
	<div class="rated-grid">
		<button id="control0">1+0</button>
		<button id="control1">2+1</button>
		<button id="control2">3+0</button>
		<button id="control3">3+2</button>
		<button id="control4">5+0</button>
		<button id="control5">5+2</button>
		<button id="control6">10+0</button>
		<button id="control7">10+10</button>
		<button id="control8">15+10</button>
	</div>
	<div class="dialog-buttons">
		<button commandfor="ratedConfig" command="close">Close</button>
	</div>
</dialog>

{{ template "engine" . }}

<div class="floating-chessboard"></div>
{{ end }}