<!--{
	"title": "Leaderboard",
	"style": "leaderboard.css",
	"script": "leaderboard.js"
}-->

{{ define "content" }}
<h1 class="page-header">Leaderboard</h1>

<div class="leaderboard">
	<div class="leaderboard-header">
		<div>Name</div>
		<div>Games</div>
		<div>Rating</div>
		<div>Member since</div>
	</div>

	{{ range $v := .Data }}
		<a class="leaderboard-row {{ if eq $v.Id $.Player.Id }}owner{{ end }}" href="/player/{{ $v.Id }}">
			<div>{{ $v.Name }}</div>
			<div>{{ $v.Games }}</div>
			<div>{{ $v.Rating }}</div>
			<div class="leaderboard-row-time">{{ $v.CreatedAt }}</div>
		</a>
	{{ end }}
</div>
{{ end }}