<!--{
	"title": "Leaderboard",
	"script": "leaderboard.js"
}-->

{{ define "content" }}
<h1><b>Leaderboard</b></h1>

<div class="scroll-wrap">
	<table>
		<tr>
			<td><b>Player</b></td>
			<td><b>Rating</b></td>
			<td><b>Rated Games</b></td>
			<td><b>Member since</b></td>
		</tr>

		{{ range $v := .Data }}
			<tr>
				<td>
					<div class="player-rank">{{ $v.Rank }}</div>
					<a href="/player/{{ $v.Id }}">
						{{ $v.Name }}
					</a>
				</td>
				<td>{{ $v.Rating }}</td>
				<td>{{ $v.RatedGames }}</td>
				<td><time>{{ $v.CreatedAt }}</time></td>
			</tr>
		{{ end }}
	</table>
</div>
{{ end }}