<!--{
	"script": "player.js"
}-->

{{ define "content" }}
<table>
	<tr>
		<td>{{ .Data.Name }}</td>
		<td>{{ .Data.Rating }}</td>
		<td><time>{{ .Data.CreatedAt }}</time></td>

		{{ if eq .Data.Id .Player.Id }}
			{{/* TODO: add help dialog explaining what is rank confidence */}}
			<td>Rating confidence</td>
		{{ end }}
	</tr>
</table>

<div class="player-table">
	<div class="player-table-tab-pane">
		<div id="tabRated">Rated {{ .Data.RatedGames }}</div>
		<div id="tabEngine">Engine {{ .Data.EngineGames }}</div>
	</div>

	<div class="scroll-wrap">
		<table id="ratedGames">
			<tr>
				<td>Result</td>
				<td>Players</td>
				<td>Time control</td>
				<td>Total moves</td>
				<td>Date</td>
			</tr>
		</table>

		<table id="engineGames">
			<tr>
				<td>Result</td>
				<td>Difficulty</td>
				<td>Total moves</td>
				<td>Date</td>
			</tr>
		</table>
	</div>
</div>
{{ end }}