{{ define "content" }}
<div class="player-card">
	<div class="player-card-col"><b>{{ .Data.Name }}</b></div>
	<div class="player-card-col">{{ .Data.Rating }} MMR</div>
	<div class="player-card-col">
		<p>Member since</p>
		<p>{{ .Data.CreatedAt }}</p>
	</div>
</div>

<table class="player-table">
	<tr>
		<th><b>Rated</b></th>
		<th><b>Engine</b></th>
	</tr>

	<tr>
		<table id="ratedGamesTable" class="player-table">
			<tr>
				<th><b>Result</b></th>
				<th><b>Players</b></th>
				<th><b>Time control</b></th>
				<th><b>Total moves</b></th>
				<th><b>Date</b></th>
			</tr>
		</table>
	</tr>

	<tr>
		<table id="engineGamesTable" class="player-table">
			<tr>
				<th><b>Result</b></th>
				<th><b>Total moves</b></th>
				<th><b>Difficulty</b></th>
				<th><b>Date</b></th>
			</tr>
		</table>
	</tr>
</table>
{{ end }}