<!--{
	"script": "queue.js",
	"layouts": ["_web/layouts/engine.tmpl"]
}-->

{{ define "content" }}
<div id="ping">Latency: ? ms</div>

<h1><b>Finding match...</b></h1>

<div class="queue">
	<div>Control: {{ .Data.Control }}m + {{ .Data.Bonus }}s</div>
	<div id="playersNumber">Players in queue: ?</div>
	<div id="hintBox"></div>
	<div id="countUpTimer">00:00</div>
</div>

<dialog id="emptyQueueDialog">
	<h2><b>Empty queue</b></h2>
	<p>There are not enough players to find a match.</p>
	<p>Try selecting other time controls to find a match faster.</p>

	<div class="dialog-buttons">
		<button commandfor="engineConfig" command="show-modal">
			Play vs Engine
		</button>
		<button commandfor="emptyQueueDialog" command="close">Close</dialog>
	</div>
</dialog>

{{ template "engine" . }}

<div class="site-animated-background"></div>
{{ end }}