{{ define "content" }}
<h1 class="content-header">Releases</h1>

<div class="releases-text">
	<div class="release">
		<div class="release-date">29 Mar 2026</div>
		<div class="release-notes">Initial public release.</div>
	</div>
</div>
{{ end }}