<!--{
	"title": "Reset password",
	"layouts": ["_web/layouts/form.tmpl"],
	"hasUsernameField": false
}-->

{{ define "content" }}
<h1><b>Enter a new password</b></h1>
{{ template "form" . }}
<small>Doesn't have an account? <a href="/signup">Sign up</a></small>
{{ end }}