{{ define "content" }}
<main class="row-container">
  <div class="board-container">
    <p>Black id: {{ .Data.BlackId }}</p>
    <canvas id="boardCanvas"></canvas>
    <p>White id: {{ .Data.WhiteId }}</p>
  </div>
</main>
{{ end }}