{{ define "content" }}
<main class="row-container">
  <p>Time control: {{ .Data.Control }}</p>
  <p>Time bonus: {{ .Data.Bonus }}</p>
  <p>White id: {{ .Data.WhiteId }}</p>
  <p>Black id: {{ .Data.BlackId }}</p>
</main>
{{ end }}