{{ define "content" }}
<main class="column-container">
  <h2>Finding an opponent...</h2>

  <div class="queue-content">
    <div id="timeControl">Control: 1 minute</div>
    <div id="timeBonus">Bonus: 0 seconds</div>
    <div id="countUp">00:00</div>
    <div id="clientsCounter">Players in queue: ?</div>
  </div>

  <div id="ping">Ping: ? ms</div>
</main>
{{ end }}