{{ define "content" }}
<form id="authForm">
	<h1>Create a new account</h1>

	<section>
		<label>Username</label>
		<input
			type="text"
			name="name"
			autocomplete="off"
			placeholder="MagnusCarlsen"
		/>
		<p id="nameError"></p>
	</section>

	<section>
		<label><span id="helpText">Email address</span></label>
		<input
			type="text"
			name="email"
			autocomplete="off"
			placeholder="magnus@carlsen.com"
		/>
		<p id="emailError"></p>
	</section>

	<section>
		<label>Password</label>
		<div class="password-container">
			<input
				id="passwordInput"
				type="password"
				name="password"
				autocomplete="off"
				placeholder="*************"
			/>
			<div id="passwordToggle"></div>
		</div>
		<p id="passwordError"></p>
	</section>

	<p id="serverError"></p>
	<button type="submit" id="submitBtn">Sign up</button>

	<p class="form-footer">
		Already have an account? <a href="/signin">Sign in</a>
	</p>
</form>

<div id="helpWindow">
  <div>
    <h2><b>Why do I need to enter my email address?</b></h2>

    <p>To securely reset your password if you forget it.</p>
    <p>Note that your email will never be shared or used for any other purpose.</p>

    <button id="closeBtn">OK</button>
  </div>
</div>
{{ end }}