{{ define "content" }}
<form id="authForm">
	<h1>Create a new account</h1>

	<div>
		<label>Username</label>
		<input
			type="text"
			name="name"
			autocomplete="off"
			placeholder="MagnusCarlsen"
		/>
		<p id="nameError"></p>
	</div>

	<div>
		<label id="tooltipToggle">Email address</label>
		<input
			type="text"
			name="email"
			autocomplete="off"
			placeholder="magnus@carlsen.com"
		/>
		<p id="emailError"></p>
	</div>

	<div>
		<label>Password</label>
		<div class="password-container">
			<input
				id="passwordInput"
				type="password"
				name="password"
				autocomplete="off"
				placeholder="*************"
			/>
			<div id="passwordToggle"></div>
		</div>
		<p id="passwordError"></p>
	</div>

	<p id="serverError"></p>
	<button type="submit" id="submitBtn">Sign up</button>

	<p class="form-footer">
		Already have an account? <a href="/signin">Sign in</a>
	</p>
</form>
{{ end }}