{{ define "title" }}Queue {{ .Data.Control }}+{{ .Data.Bonus }}{{ end }}
{{ define "layout" }}
<h1><b>Finding an opponent...</b></h1>

<div class="queue flex">
  <div class="queue-info">Rating: {{ round .Player.Rating }}</div>
  <div class="queue-info">Control: {{ .Data.Control }}m + {{ .Data.Bonus }}s</div>
  <div id="playersNumber" class="queue-info">Players in queue: ?</div>

  <div id="hint" class="flex"></div>
  <div id="countUpTimer">00:00</div>

  <div id="ping">Latency: ? ms</div>
</div>

<div id="emptyDialog" class="dialog flex">
  <div class="dialog-layout flex">
    <div class="dialog-header">Empty queue</div>

    <p>There are not enough player to find a match.</p>
    <p>Try selecting other time controls to find a match faster.</p>

    <div class="dialog-buttons">
      <button id="emptyDialogPlayVsEngine">Play vs computer</button>
      <button id="emptyDialogClose" class="dialog-close">Stay</button>
    </div>
  </div>
</div>

<div class="floating-chessboard"></div>
{{ end }}