/* This css files applies to /signup and /signin. */

form {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: larger;
}

form div {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

form h1 {
	text-align: center;
	margin-bottom: 10px;
}

form div {
	font-size: x-large;
}

form input {
	background-color: var(--input-background);
	border: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: large;
	width: 100%;
	padding: 5px;
}

form div input:focus {
	outline-width: 2px;
	outline-color: #00bcff;
}

form #form-submit {
	border: none;
	border-radius: 15px;
	background: var(--container-background);
	color: var(--container-foreground);
	cursor: pointer;
	font-size: x-large;
	padding: 10px;
	width: 60%;
	margin: auto;
}

form p {
	font-size: large;
	color: red;
}

.form-footer {
	padding-top: 10px;
	margin: auto;
	font-size: medium;
	color: var(--foreground);
}

.form-footer a {
	color: var(--url-hover);
}

.password-container {
	display: flex;
	background: var(--input-background);
	border-radius: 10px;
}

.password-container input {
	background-color: transparent;
}

.password-container div {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
	height: 100%;
	aspect-ratio: 1/1;
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-image: url("/public/img/show.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}