.home-container {
	margin: auto;
	color: var(--container-foreground);
	background: var(--container-background);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	border-radius: 20px;
}

#ping {
	position: fixed;
	font-size: larger;
	font-weight: bold;
	left: 10px;
	bottom: 40px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.grid button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	color: var(--container-foreground);
	border: 2px solid var(--container-foreground);
	border-radius: 15%;
	font-size: xx-large;
	aspect-ratio: 1/1;
}

.grid button:hover {
	color: var(--url-hover);
	border: 2px solid var(--url-hover);
}

/* Animated background. */
.home-container::before{
	content: "";
	position: fixed;
	width: 100%;
	height: 100vh;
	background-image: url("/public/img/background.png");
	background-position: center;
	background-repeat: repeat;
	transform-origin: center;
	transform: rotate(15deg) scale(2);
	z-index: -1;
	animation: slide 60s linear infinite;
}

@keyframes slide {
	from {
		background-position-x: 0;
	}

	to {
		background-position: 100vw;
	}
}