main {
	gap: 10px;
	padding: 2px;
	flex-direction: column;
}

/* Pseudo-element to rotate the background image. */
main::before{
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	content: "";
	position: fixed;
	background-image: url("/public/img/background.png");
	transform: rotate(15deg);
	filter: blur(2px);
	animation: slide 120s ease infinite;
	z-index: -1;
}

h1 {
	margin: auto 0 0 0;
	user-select: none;
	font-size: larger;
	text-align: center;
}

#ping {
	margin: auto 0 0 0;
	user-select: none;
	font-weight: bold;
}

#homeGrid {
	gap: 5px;
	margin: 0 auto 0 auto;
	display: grid;
	max-width: 650px;
	width: 95%;
	grid-template-columns: 1fr 1fr 1fr;
	transition: all ease-in-out 1s;
}

#homeGrid button {
	border-radius: 15%;
	font-size: larger;
	aspect-ratio: 1/1;
	font-weight: bold;
	transition: background-color ease-in-out 1s;
	color: var(--container-foreground);
	background-color: var(--container-background);
	border: 2px solid var(--container-foreground);
}

#homeGrid button:hover {
	color: var(--container-background);
	background-color: var(--container-foreground);
	border: 2px solid var(--container-background);
}

#homeGrid.disappear {
	opacity: 0;
	transform: scale(0) translate(100%);
	z-index: -1;
	max-height: 0;
}

#matchmakingWindow {
	width: 95%;
	max-width: 650px;
	max-height: 0;
	margin: 0 auto 0 auto;
	height: 120px;
	opacity: 0;
	color: var(--container-foreground);
	background-color: var(--container-background);
	z-index: -1;
	transition: opacity linear 1s, z-index linear 1s;
}

#matchmakingWindow.appear {
	animation: appear 1s 1;
	max-height: 650px;
	opacity: 1;
	z-index: 1;
	flex: 1;
}

@keyframes slide {
	0% {
		background-position-x: 0;
		background-position-y: 0;
	}

	25% { 
		background-position-x: 100vw;
		background-position-y: -100vh;
	}

	50% {
		background-position-x: 0;
		background-position-y: 0;
	}

	75% {
		background-position-x: -100vw;
		background-position-y: 100vh;
	}

	100% {
		background-position-x: 0;
		background-position-y: 0;
	}
}

@keyframes appear {
	from {
		transform: translate(-100%) scale(0);
	}

	to {
		transform: translate(0%) scale(1);
	}
}

@media screen and (min-width: 600px) {
	h1 {
		font-size: xx-large;
	}

	main::before{
		transform: rotate(15deg) scale(1.5);
		/* Make animation slower on larger screens. */
		animation: slide 340s ease-out infinite;
	}

	.homeGrid button {
		font-size: xx-large;
	}
}

@media screen and (min-width: 1280px) {
	main::before{
		transform: rotate(15deg) scale(2);
		/* Make animation slower on larger screens. */
		animation: slide 600s ease-out infinite;
	}
}