main {
	gap: 10px;
	padding: 2px;
	overflow: hidden;
	flex-direction: column;
}

/* Pseudo-element to rotate the background image. */
main::before{
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	content: "";
	position: fixed;
	background-image: url("/public/img/background.png");
	transform: rotate(15deg);
	filter: blur(2px);
	animation: slide 120s ease-in-out infinite;
	z-index: -1;
}

h1 {
	margin: auto 0 0 0;
	user-select: none;
	font-size: larger;
	text-align: center;
}

h1 u {
	cursor: help;
}

h1 u:hover {
	color: #173091;
}

#tooltip-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity ease-in-out 0.75s, z-index ease-out 1s;
	user-select: none;
	backdrop-filter: blur(5px);
}

#tooltip-content {
	width: 95%;
	height: 400px;
	max-width: 700px;
	position: relative;
	margin: auto;
	align-content: center;
	text-align: center;
	font-size: large;
	background-color: var(--container-background);
	color: var(--container-foreground);
	border: 3px solid var(--container-foreground);
	border-radius: 15px;
}

#tooltip-content::after{
	content: "X";
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 50%;
	border: 3px solid var(--container-foreground);
	background-color: var(--container-background);
	font-weight: bold;
	font-size: larger;
	text-align: center;
	align-content: center;
	height: 40px;
	width: 40px;
}

#tooltip-container.tooltip-show {
	z-index: 1;
	opacity: 1;
}

#tooltip-content h2 {
	font-size: xx-large;
}

#ping {
	margin: auto 0 0 0;
	user-select: none;
	font-weight: bold;
}

.grid {
	gap: 5px;
	margin: 0 auto 0 auto;
	display: grid;
	max-width: 650px;
	width: 95%;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid button {
	border-radius: 15%;
	font-size: larger;
	aspect-ratio: 1/1;
	font-weight: bold;
	transition: background-color 1s;
	color: var(--container-foreground);
	background-color: var(--container-background);
	border: 2px solid var(--container-foreground);
}

.grid button:hover {
	color: var(--container-background);
	background-color: var(--container-foreground);
	border: 2px solid var(--container-background);
}

@keyframes slide {
	0% {
		background-position-x: 0;
		background-position-y: 0;
	}

	25% { 
		background-position-x: 100vw;
		background-position-y: -100vh;
	}

	50% {
		background-position-x: 0;
		background-position-y: 0;
	}

	75% {
		background-position-x: -100vw;
		background-position-y: 100vh;
	}

	100% {
		background-position-x: 0;
		background-position-y: 0;
	}
}

@media screen and (min-width: 600px) {
	h1 {
		font-size: xx-large;
	}

	main::before{
		transform: rotate(15deg) scale(1.5);
		/* Make animation slower on larger screens. */
		animation: slide 340s ease-out infinite;
	}

	.grid button {
		font-size: xx-large;
	}
}

@media screen and (min-width: 1280px) {
	main::before{
		transform: rotate(15deg) scale(2);
		/* Make animation slower on larger screens. */
		animation: slide 600s ease-out infinite;
	}
}