main {
	padding: 2px;
	overflow: hidden;
	position: relative;
	flex-direction: column;
}

/* Pseudo-element to rotate the background image. */
main::before{
	/* To fill up all page. */
	width: 200%;
	height: 200%;
	/* To center. */
	top: -50%;
	left: -50%;
	content: "";
	position: fixed;
	background-image: url("/public/img/background.png");
	transform: rotate(15deg);
	filter: blur(2px);
	animation: slide 120s ease-out infinite;
	z-index: -1;
}

h1 {
	margin: auto 0 0 0;
	user-select: none;
	font-size: larger;
	text-align: center;
}

#ping {
	margin: auto 0 0 0;
	user-select: none;
}

.grid {
	gap: 5px;
	margin: 0 auto 0 auto;
	display: grid;
	max-width: 650px;
	width: 95%;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid button {
	border-radius: 15%;
	font-size: larger;
	aspect-ratio: 1/1;
	font-weight: bold;
	color: var(--container-foreground);
	background-color: var(--container-background);
	border: 2px solid var(--container-foreground);
}

@keyframes slide {
	0% {
		background-position-x: 0;
		background-position-y: 0;
	}

	25% { 
		background-position-x: 100vw;
		background-position-y: -100vh;
	}

	0% {
		background-position-x: 0;
		background-position-y: 0;
	}

	75% {
		background-position-x: -100vw;
		background-position-y: 100vh;
	}

	0% {
		background-position-x: 0;
		background-position-y: 0;
	}
}

@media screen and (min-width: 600px) {
	main::before{
		transform: rotate(15deg) scale(1.5);
		/* Make animation slower on larger screens. */
		animation: slide 340s ease-out infinite;
	}

	.grid button {
		font-size: xx-large;
	}
}

@media screen and (min-width: 1280px) {
	main::before{
		transform: rotate(15deg) scale(2);
		/* Make animation slower on larger screens. */
		animation: slide 600s ease-out infinite;
	}

	.grid button {
		font-size: xx-large;
	}
}