@font-face {
	font-family: Ubuntu;
	src: url("/public/font/UbuntuSans-Regular.woff2");
}

@font-face {
	font-family: Ubuntu;
	src: url("/public/font/UbuntuSans-Bold.woff2");
	font-weight: bold;
}

/* White theme colors by default. */
:root {
	--background: #e2d3c4;
	--foreground: #34211d;
	--url-hover: #337dc2;
	--input-background: #b5936e69;
	--input-placeholder: rgba(73, 72, 72, 0.564);
	--container-background: rgb(37, 22, 22, 85%);
	--container-foreground: #b5936e;
	--max-width: 1600px;
}

* {
	margin: 0;
	padding: 0;
}

/* Without this paddings and margins will not count as element width and height. */
*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-family: Ubuntu;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	font-size: x-large;
	line-height: 1.5;
	flex-direction: column;
	color: var(--foreground);
	background: var(--background);
}

a, input, button {
	font: inherit;
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

header {
	width: 100%;
	padding: 5px;
	user-select: none;
	font-size: larger;
	color: var(--container-foreground);
	background-color: var(--container-background);
}

.header-content {
	display: flex;
	margin: 0 auto 0 auto;
	max-width: var(--max-width);
}

.header-content .logo {
	flex: 1;
	font-weight: bold;
	font-size: xx-large;	
}

main {
	height: 100%;
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	margin: 0 auto 0 auto;
	flex: 1;
}

footer {
	width: 100%;
	color: var(--container-foreground);
	background-color: var(--container-background);
}

.footer-content {
	margin: 0 auto 0 auto;
	max-width: var(--max-width);
}

#tooltip-toggle {
	cursor: help;
	text-decoration: underline;
}

#tooltip-toggle:hover {
	color: #173091;
}

#tooltip-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity ease-in-out 0.75s, z-index ease-out 1s;
	user-select: none;
	backdrop-filter: blur(5px);
}

#tooltip-content {
	width: 95%;
	height: 400px;
	max-width: 700px;
	position: relative;
	margin: auto;
	align-content: center;
	text-align: center;
	font-size: large;
	background-color: var(--container-background);
	color: var(--container-foreground);
	border: 3px solid var(--container-foreground);
	border-radius: 15px;
}

#tooltip-content::after{
	content: "X";
	position: absolute;
	cursor: pointer;
	top: -10px;
	right: -10px;
	border-radius: 50%;
	border: 3px solid var(--container-foreground);
	background-color: var(--container-background);
	font-weight: bold;
	font-size: larger;
	text-align: center;
	align-content: center;
	height: 40px;
	width: 40px;
}

#tooltip-container.tooltip-show {
	z-index: 1;
	opacity: 1;
}

#tooltip-content h2 {
	font-size: xx-large;
}