@font-face {
	font-family: "Ubuntu";
	src: url("/public/font/Ubuntu-Regular.ttf");
	font-style: normal;
	font-display: swap;
}

html {
	font-family: "Ubuntu", system-ui;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

a, input {
	font: inherit;
	color: inherit;
	text-decoration: none;
}

/* White theme colors. */
:root {
	--background: #e2d3c4;
	--foreground: #34211d;
	--url-hover: #337dc2;
	--input-background: #b5936e69;
	--input-placeholder: rgba(73, 72, 72, 0.564);
	--container-background: rgb(37, 22, 22, 85%);
	--container-foreground: #b5936e;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	line-height: 1.5;
	flex-direction: column;
	color: var(--foreground);
	background: var(--background);
}

header {
	gap: 10px;
	width: 100%;
	padding: 5px;
	font-weight: bold;
	font-size: x-large;
	color: var(--container-foreground);
	background: var(--container-background);
}

.header-content {
	margin: auto;
	display: flex;
	gap: 20px;
	height: 100%;
	max-width: 1280px;
}

.header-profile {
	margin-left: auto;
}

main {
	flex: 1;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1280px;
}

a:hover {
	color: var(--url-hover);
}

footer {
	width: 100%;
	font-weight: bold;
	font-size: x-large;
	color: var(--container-foreground);
	background: var(--container-background);
}