{{/* Engine configuration dialog. */}}
{{ define "engine" }}
<dialog id="engineConfig" class="wrap">
	<h2><b>Choose difficulty</b></h2>
	<div class="slider-wrap">
		<input id="difficultySlider" type="range" min="1" max="5" value="2">
		<div id="sliderDemo">Medium</div>
	</div>
	<div class="dialog-buttons">
		<button commandfor="engineConfig" command="close">Cancel</button>
		<button id="play">Play</button>
	</div>
</dialog>
{{ end }}