{{ define "form" }}
<form id="form" class="flex">
	{{ if .Data.hasUsernameField }}
		<div class="form-field flex">
			<p class="form-field-label">Username</p>
			<input
				id="usernameInput"
				type="text"
				name="username"
				autocomplete="off"
				placeholder="MagnusCarlsen"
			/>
			<div class="form-error" id="formUsernameError"></div>
		</div>
	{{ end }}

	<div class="form-field flex">
		<button commandfor="helpDialog" command="show-modal" class="helper-button"><p class="form-field-label">Email</p></button>
		<input
			id="emailInput"
			type="email"
			name="email"
			autocomplete="off"
			placeholder="magnus@carlsen.com"
		/>
		<div class="form-error" id="formEmailError"></div>
	</div>

	<div class="form-field flex">
		<p class="form-field-label">Password</p>
		<div class="form-field-password-wrap">
			<input
				id="passwordInput"
				type="password"
				name="password"
				autocomplete="off"
				placeholder="**********"
			/>
			<div id="formPasswordToggle"></div>
		</div>
		<div class="form-error" id="formPasswordError"></div>
	</div>

	<div id="serverResponse"></div>

	<dialog id="helpDialog" class="wrap">
		<h2 class="dialog-header">Why do I need to enter my email?</h2>
		<p>To securely reset your password if you forget it.</p>
		<p>Your email will never be shared or used for any other purpose.</p>
		<div class="dialog-buttons">
			<button commandfor="helpDialog" command="close">Close</button>
		</div>
	</dialog>
</form>
{{ end }}