{{ define "menu" }}
<ul class="site-nav-menu flex">
  <li class="site-nav-menu-item"><a href="/development">Development</a></li>
  <li class="site-nav-menu-item"><a href="/leaderboard">Leaderboard</a></li>
  <li class="site-nav-menu-item"><a href="/about">About</a></li>
</ul>
{{ end }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} &ndash; JustChess.org</title>
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/styles/site.css">

    <script src="/assets/scripts/header.js" type="module"></script>

    {{ if ne .Script "" }}
      <script src="/assets/scripts/{{ .Script }}" type="module"></script>
    {{ end }}

    {{ if ne .Style "" }}
      <link rel="stylesheet" href="/assets/styles/{{ .Style }}">
    {{ end }}

    <meta name="description" content="Multiplayer chess server with rating system, matchmaking, and game history.">
 </head>

<body>
  <header class="site-header wrap flex">
    <nav class="site-header-nav flex">
      <a class="site-header-logo" href="/">JustChess</a>
      <div class="site-header-menu flex">
        {{ template "menu" . }}
        <button id="toggleSidebar"></button>
      </div>
      <div class="site-header-profile flex">
        {{/* If player is signed in, display the link to their profile. Otherwise display links to sign in and sign up pages. */}}
        {{ if len .Player.Id | eq 12 }}
          <a class="site-header-name" href="/player/{{ .Player.Id }}">{{ .Player.Name }}</a>
        {{ else }}
          <a class="site-header-signup" href="/signup">Sign up</a>
          <a href="/signin">Sign in</a>
        {{ end }}
      </div>
    </nav>
  </header>

  <aside id="siteSidebar" class="wrap">{{ template "menu" . }}</aside>

<!--
  <main id="main" class="site-content wrap flex">{{ template "content" . }}</main>

  <footer class="site-nav wrap flex">
    <div class="site-nav-links flex">
      <div class="site-nav-links-col flex">
        <div class="site-nav-links-col-header">Connect</div>
        <a href="https://github.com/treepeck/justchess">GitHub</a>
        <a href="https://www.youtube.com/@treepeck">YouTube</a>
        <a href="mailto:support@justchess.org">Support</a>
      </div>
    </div>
  </footer>
-->
</body>
</html>