{{template "signup.html" .}}
{{define "title"}}Signup - JustChess.org{{end}}
{{define "scripts"}}
<script type="module" src="../../../static/js/signup.js" defer></script>
{{end}}
{{define "content"}}
<form class="signup-form">
    <h2>Sign Up</h2>
    <section id="email-container" class="input-container">
        <p class="email-icon"></p>
        <input type="email" id="email" placeholder="Email" name="email">
        <p id="check"></p>
    </section>
    <section id="name-container" class="input-container">
        <p class="name-icon"></p>
        <input type="text" id="name" placeholder="Username" name="name">
        <p id="error"></p>
    </section>
    <section id="password-container" class="input-container">
        <p class="password-icon"></p>
        <input type="password" id="password" placeholder="Password" name="password">
        <p id="check"></p>
    </section>
    <button id="submit">Submit</button>
    <section class="form-footer">
        Already registered? <a href="/signin">Sign In</a>
    </section>
</form>
<p>Note that we only use emails for secure authentication and password resets.</p>
{{end}}