{{ define "title" }}Leaderboard{{ end }}
{{ define "layout" }}
<h1><b>Leaderboard</b></h1>

<div class="leaderboard">
  <div class="leaderboard-header">
    <div>Name</div>
    <div>Rating</div>
    <div>Rated games</div>
    <div>Member since</div>
  </div>

  {{ range $v := .Data }}
    <a class="leaderboard-row {{ if eq $v.Id $.Player.Id }}owner{{ end }}" href="/player/{{ $v.Id }}">
      <div>{{ $v.Name }}</div>
      <div>{{ round $v.Rating }}</div>
      <div>{{ $v.RatedGames }}</div>
      <div class="leaderboard-row-time">{{ $v.CreatedAt }}</div>
    </a>
  {{ end }}
</div>
{{ end }}