{{ define "title" }}Sign in{{ end }}
{{ define "layout" }}
<h1><b>Welcome back</b></h1>

<form id="authForm" class="form flex">
  <div class="form-section">
    <p class="form-input-label">Email address</p>
    <input
      type="text"
      name="email"
      autocomplete="off"
      placeholder="magnus@carlsen.com"
    />

    <div class="form-error" id="formEmailError"></div>
  </div>

  <div class="form-section">
    <p class="form-input-label">Password</p>
    <div class="form-password">
      <input
        id="formPasswordInput"
        type="password"
        name="password"
        autocomplete="off"
        placeholder="*************"
      />
      <div id="formPasswordToggle"></div>
    </div>
    <div class="form-error" id="formPasswordError"></div>
  </div>

  <a href="/reset-password"><small>Forgot your password?</small></a>

  <div class="form-button flex">
    <div id="serverResponse"></div>
    <button id="formSubmitButton">Sign in</button>
  </div>

  <small>Doesn't have an account? <a href="/signup">Sign up</a></small>
</form>
{{ end }}