<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Verify Your Email</title>
</head>

<body
	style="font-family: Arial, sans-serif; line-height: 1.6; color: white; max-width: 600px; margin: 0 auto; padding: 20px;">
	<div style="background: #343a46; padding: 20px; text-align: center;">
		<h1 style="color: white; margin: 0;">Welcome to Justchess, {{.Name}}!</h1>
	</div>
	<div
		style="background-color: #23272f; padding: 20px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
		<p style="color: white;">This email was sent due to a new account creation.</p>
		<p style="color: white;"> If it wasn't you, please ignore this message.</p>
		<p style="color: white;">To confirm the registration, follow the link below:</p>
		<a style=" color: white;" href="{{.VerificationURL}}">{{.VerificationURL}}</a>

		<p style="line-height: 1em; text-align: end; color: white;">
			Best regards,
			<br>
			<a style="color: white;" href="https://justchess.org">justchess.org</a>
		</p>
	</div>
	<div style="text-align: center; margin-top: 20px; color: #888; font-size: 0.8em; font-weight: bold;">
		<p>This is an automated message, please do not reply.</p>
	</div>
</body>

</html>