.chat {
  margin: auto;
  padding: 15px;
  text-align: center;
  color: var(--container-foreground);
  background-color: var(--container-background);
}

.chat #messageContainer {
  border-radius: 15px;
  padding: 10px;
  max-height: 650px;
  text-align: left;
  border: 2px solid var(--container-foreground);
  line-height: 1.5;
  height: 300px;
  overflow-y: scroll;
}

.input-container {
  width: 300px;
  height: 100px;
  display: flex;
  border-radius: 10px;
  background-color: var(--input-background);
}

.input-container input {
  background-color: transparent;
}

#chatSend {
  height: 80%;
  aspect-ratio: 1/1;
  margin: auto 5px auto 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/images/send.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
