.help-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity ease-in-out 0.75s, z-index ease-out 0.75s;
  user-select: none;
  backdrop-filter: blur(7px);
}

.help-container.show {
  z-index: 1;
  opacity: 1;
}

.help-content {
  user-select: none;
  font-size: x-large;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  line-height: 2;
  color: var(--container-foreground);
  background-color: var(--container-background);
}

.help-content p {
  text-align: left;
  padding: 0 20px 0 20px;
}

.help-content button {
  height: 50px;
  width: 95%;
  border-radius: 15px;
  font-weight: bold;
  margin: 10px;
  border: 2px solid var(--container-foreground);
  color: var(--container-foreground);
  background-color: var(--container-background);
}

#helpText {
  text-decoration: underline;
  cursor: help;
}

#helpText:hover {
  color: var(--url-hover);
}
