.help-dialog-activator {
  cursor: help;
  text-decoration: underline;
}

.help-dialog-activator:hover {
  color: var(--text-hover);
}

.help-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity ease-in-out 0.75s, z-index ease-out 0.75s;
  backdrop-filter: blur(7px);
}

.help-dialog-container.show {
  z-index: 1;
  opacity: 1;
}

.help-dialog-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  color: var(--container-foreground);
  background-color: var(--container-background);
}

.help-dialog-close-button {
  width: 95%;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  margin: 10px;
}
