<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{block "title" .}}{{end}}

	<link rel="stylesheet" href="/static/css/main.css">

	<link rel="icon" href="/static/png/favicon.png" type="image/png">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap">
</head>

<body>
	<main>
		<header>This is an <b>underimplemented</b> header!</header>
		
		{{block "content" .}}{{end}}

		<footer>This is an <b>underimplemented</b> footer!</footer>
	</main>

	{{block "scripts" .}}{{end}}
</body>

</html>
