{{template "signup.html" .}}

{{define "title"}}<title>Sign Up - JustChess.org</title>{{end}}

{{define "content"}}
<form id="form">
	<h1>Sign up</h1>

	<section id="name-container">
		<img class="input-icon" src="/static/png/user.png" />

		<input type="text" placeholder="Name" name="name" id="name" required />
	</section>

	<section id="email-container">
		<img class="input-icon" src="/static/png/email.png" />

		<input type="email" placeholder="Email" name="email" id="email" required />
	</section>

	<section id="password-container">
		<img class="input-icon" src="/static/png/password.png" />

		<input type="password" placeholder="Password" name="password" id="password" required />

		<i id="visibility-icon" class="show"></i>
	</section>

	<button id="submit">Submit</button>

	<p>Already registered? <a href="/signin">Sign in</a>.</p>
</form>
{{end}}

{{define "scripts"}}<script type="module" src="/static/js/signup.js"></script>{{end}}